<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </ul>

        {% if site.github.is_project_page %}
          <p class="header">This project is maintained by <a class="header name" href="https://skywardappcompany.com">Skyward App Company</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

	<div>
    <section class="right_col">
		<h5>Contents</h5>
		<ul class="toc">
		<li><a href={{ "/" | absolute_url }}>Home</a></li>
		<li><a href={{ "/docs/dotnet/DotNetQuickStart" | absolute_url }}>Quick Start</a></li>
		<li><a href={{ "/docs/dotnet/DotNetDocumentation" | absolute_url }}>Documentation</a></li>
		<ul class="docLinks", style="margin-bottom:0">
			<li><a href={{ "/docs/dotnet/DotNetTutorialGettingStarted" | absolute_url }}>Getting Started</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialAdvancedProjections" | absolute_url }}>Advanced Projections</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialContexts" | absolute_url }}>Contexts</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialDefaultIncludes" | absolute_url }}>Default Includes</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialSorting" | absolute_url }}>Sorting</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialAuthorizers" | absolute_url }}>Authorizers</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialInternalOnly" | absolute_url }}>Internal Only</a></li>
			<li><a href={{ "/docs/dotnet/DotNetTutorialInspectors" | absolute_url }}>Inspectors</a></li>
		</ul>
		<li><a href={{ "/docs/Roadmap" | absolute_url }}>Roadmap</a></li>
		<li><a href={{ "/docs/Releases" | absolute_url }}>Releases and Release Notes</a></li>
		<li><a href="https://github.com/SkywardApps/popcorn/blob/master/docs/Contributing.md">Contributing</a></li>
		<li><a href="https://github.com/SkywardApps/popcorn/blob/master/LICENSE">License</a></li>
		<li><a href={{ "/docs/Maintainers" | absolute_url }}>Meet the Maintainers</a></li>
		</ul>
		
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
		  <!--
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
        </li>
        {% endfor %}
        </ul>  
    </section>
	
      <section>
        {{ content }}
		
		<div id="disqus_thread"></div>
		<script>
			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			 */
			/*
			var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
				var d = document, s = d.createElement('script');
				
				s.src = 'https://popcorn-1.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
				
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </section>
	</div>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

